* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #6c7b8b;
}
/* background */
.background {
  width: 400px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .square {
  height: 200px;
  width: 200px;
  position: absolute;
}
.square:first-child {
  left: -22px;
  top: -66px;
}
.square:last-child {
  right: -51px;
  bottom: -81px;
}
.img-top {
  height: 196px;
}
/* end background */

/* form login */
form {
  height: 550px;
  width: 380px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 35px;
}

form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form .title {
  display: flex;
  justify-content: center;
  gap: 26px;
  margin-bottom: 20px;
  align-items: center;
}
form h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 42px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
}
form input[type="text"],
input[type="password"] {
  display: block;
  height: 35px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #fff;
}

/* end form-login */

/* remember-me */
.remember-forget {
  display: flex;
  justify-content: space-between;
}
.remember-forget .remember {
  display: flex;
  align-items: center;
}
.remember-forget .forget a {
  text-decoration: none;
  font-size: 13px;
  color: #e0d8d8;
}

input[type="checkbox"] {
  visibility: hidden;
}
.remember {
  display: block;
  position: relative;
  padding-left: 7px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
}
.remember label {
  margin-left: 4px;
  margin-top: 4px;
}
.customcheckbox {
  position: absolute;
  top: 3px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 0.07);
  border: 1px solid #fff;
  border-radius: 5px;
}
.remember input:checked ~ .customcheckbox {
  background-color: #4a4546;
}
.customcheckbox:after {
  content: "";
  position: absolute;
  display: none;
}
.remember input:checked ~ .customcheckbox:after {
  display: block;
}

/* end remember-me */
button {
  width: 100%;
  background-color: #cfcfcf;
  color: #fdfdfd;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}
/* new-account */
.new-account {
  margin-top: 10px;
  font-size: 13px;
  padding: 0 26px;
}
.new-account a {
  margin-left: 3px;
  text-decoration: none;
  font-size: 13px;
  color: #e0d8d8;
}
/*end new-account */

/* line-or */
.or-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 2px;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #5e5b5b;
}

.or {
  margin: 0 10px;
  color: #ffffff;
}
/* end line-or */

/* social */
.social-icon {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 60px;
}
.social-icon img {
  width: 18px;
  height: 20px;
}
.social-icon .icon {
  background: #e0e2e3;
  width: 36px;
  height: 35px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end social */
